include components/footer-group/footer-group
- var baseClass = 'footer'
- var _ = getBEMClass(baseClass)
- var wrapClasses = [_('wrap'), '_wrap']
-
  var companyInfoLinks = [
    {
      text: 'About Us',
      href: '#'
    },
    {
      text: 'Carrier',
      href: '#'
    },
    {
      text: 'We are hiring',
      href: '#'
    },
    {
      text: 'Blog',
      href: '#'
    },
  ]

-
  var legalLinks = [
    {
      text: 'Legal',
      href: '#'
    },
    {
      text: 'Legal 2',
      href: '#'
    },
    {
      text: 'Legal 3',
      href: '#'
    },
    {
      text: 'Legal 4',
      href: '#'
    },
  ]

-
  var featuresLinks = [
    {
      text: 'Business Marketing',
      href: '#'
    },
    {
      text: 'User Analytic',
      href: '#'
    },
    {
      text: 'Live Chat',
      href: '#'
    },
    {
      text: 'Unlimited Support',
      href: '#'
    },
  ]

-
  var resourcesLinks = [
    {
      text: 'IOS & Android',
      href: '#'
    },
    {
      text: 'Watch a Demo',
      href: '#'
    },
    {
      text: 'Customers',
      href: '#'
    },
    {
      text: 'API',
      href: '#'
    },
  ]

-
  var contactInfo = [
    { icon: 'phone', href: '#', text: '(480) 555-0103', type: 'tel' },
    { icon: 'map-pointer', href: '#', text: '4517 Washington Ave. Manchester, Kentucky 39495' },
    { icon: 'paper-airplane', href: '#', text: 'debra.holt@example.com', type: 'mail' },
  ]

-
  var groups = [
    { title: 'Company Info', links: companyInfoLinks },
    { title: 'Legal', links: legalLinks },
    { title: 'Features', links: featuresLinks },
    { title: 'Resources', links: resourcesLinks },
    { title: 'Get In Touch', links: contactInfo },
  ]

footer(class=baseClass)
  div(class=wrapClasses)
    each group in groups
      +footer-group(group)
