mixin nav-panel(links)
  - var baseClass = 'nav-panel'
  - var classes = [attributes.class, baseClass]


  nav(class=classes)
    ul.nav-panel__list
      each link in links
        - var {name, href, isActive} = link
        - var linkClasses = ['nav-panel__link', isActive ? 'nav-panel__link--active' : '']

        li.nav-panel__item
          a(href=href class=linkClasses)= name
