include ../../../../components/link/link

mixin footer-group(group)
  - var baseClass = 'footer-group'
  - var classes = [attributes.class, baseClass]
  - var {title, links} = group

  div(class=classes)
    h4.footer-group__title= title
    ul.footer-group__list
      each link in links
        - var { href, icon, text, type } = link
        li.footer-group__item
          if icon
            .footer-contact
              span.footer-contact__icon= icon
              +link(link).footer-contact__link
          else
            a(href=href class='footer-group__link _link')= text
