doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //link(rel="icon" type="image/png" href=require('@images/favicon.png'))
    //block style
    title Relvise
  body
    .wrapper
      include ../sections/header/header
      include ../sections/contacts/contacts
      include ../sections/footer/footer
    //.wrapper
    //  block header
    //  main.main
    //    block content
    //  include @sections/footer/footer
    //block script
