include components/nav-panel/nav-panel

-
    var links = [
      { name: 'Home', href: '#', isActive: true },
      { name: 'Product', href: '#' },
      { name: 'Pricing', href: '#' },
      { name: 'Contact', href: '#contacts' },
    ]

header.header
    .header__wrap._wrap
        span.header__logo Relvise
        +nav-panel(links).header__nav-panel
