include ../../components/titles/titles
include components/contact-card/contact-card

- var baseClass = 'contacts'
- var _ = getBEMClass(baseClass)
- var wrapClasses = [_('wrap'), '_wrap']
- var title = 'Get In Touch'
- var subtitle = 'Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics'
-
  cards = [
    {
      icon: 'phone',
      title: 'Get Support',
      info: [
        'georgia.young@example.com',
        'georgia.young@ple.com'
      ],
      link: {
        type: 'tel',
        href: '#',
        text: 'Submit Request'
      }
    },
    {
      icon: 'map-pointer',
      title: 'Get Support',
      info: [
        'georgia.young@example.com',
        'georgia.young@ple.com'
      ],
      link: {
        href: '#',
        text: 'Submit Request'
      }
    },
    {
      icon: 'paper-airplane',
      title: 'Get Support',
      info: [
        'georgia.young@example.com',
        'georgia.young@ple.com'
      ],
      link: {
        type: 'mail',
        href: '#',
        text: 'Submit Request'
      }
    },
  ]

section.contacts
  div(class=wrapClasses)
    +titles(title, subtitle, 'contacts')
    each card in cards
      +contact-card(card).contacts__contact-card
