include ../../../../components/link/link

mixin contact-card(data)
  - var baseClass = 'contact-card'
  - var _ = getBEMClass(baseClass)
  - var { title, info, icon, link } = data

  div(class=baseClass)
    div(class=_('wrap'))
      span(class=_('icon'))= icon
      ul(class=_('info-list'))
        each infoString in info
          li(class=_('info-item'))= infoString
      p(class=_('info'))= info
      h4(class=_('title'))= title
      +link(link).contact-card__link
