mixin link(data)
  -
    var typesMap = {
      tel: 'tel:',
      mail: 'mailto:'
    }
  - var { type, text, href } = data
  - var prefix = typesMap[type] || ''

  a(class=attributes.class href=prefix + href )= text
